$color_opacity:rgba(1, 0, 0, 0.5);;
$color_guinda:#e52325;
$background_gris:#bab3b2;
.ml-2{
	margin-left:2%;
}
.top{
	top:30px;
}
.ib{
	display:inline-block;
}
.inline{
	display:inline;
}
.mb-3{
	margin-bottom:3%;
}
.info{
	position:absolute;
	bottom:0px;
	color:white;
	background-color: $color_opacity;
	margin-right:4%;
}
.infoa{
	position:absolute;
	margin-bottom:55%;
}
.box-red{
	background-color:$color_guinda;
	color:#fff;
	border:1px solid $color_guinda;
	margin-top:0px;
}
.columnistas{
	background-color:$background_gris;
	margin-top:3%;
	border-top:5px solid $color_guinda;
}
.columnistas-list{
	background-color:$background_gris;
}
.jne{
	background-image:url('../image/img_grid_principal.jpg');
	background:linear-gradient (45deg, #008080, #FFEBCD);
	padding-top:40%;
	color:white;
}