.ml-2 {
  margin-left: 2%;
}

.top {
  top: 30px;
}

.ib {
  display: inline-block;
}

.inline {
  display: inline;
}

.mb-3 {
  margin-bottom: 3%;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col-md-5 {
  padding-right: 0px;
}

.col-md-7 {
  padding-right: 0px;
}

.info {
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: rgba(1, 0, 0, 0.5);
  margin-right: 4%;
}

.infoa {
  position: absolute;
  margin-bottom: 55%;
}

.box-red {
  background-color: #e52325;
  color: #fff;
  border: 1px solid #e52325;
  margin-top: 0px;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

.columnistas {
  background-color: #bab3b2;
  margin-top: 3%;
  border-top: 5px solid #e52325;
}

.columnistas-list {
  background-color: #bab3b2;
}

.jne {
  background-image: url("../image/img_grid_principal.jpg");
  background: linear-gradient 45deg, #008080, #FFEBCD;
  padding-top: 40%;
  color: white;
}

.color-blue {
  color: #008080;
}

.block-encuesta {
  background: url(../image/fondo_encuesta.jpg) repeat left top;
  padding: 2.5em .5em .8em .5em;
  margin: 0 0 30px;
}

.pregunta {
  background-color: white;
  padding: 7%;
}

#hoy {
  margin-bottom: 5%;
}

.border {
  border: 2px solid grey;
  padding: 1%;
  margin-bottom: 5%;
}

#red {
  border-bottom: 7px solid red;
}

#yellow {
  border-bottom: 7px solid yellow;
}

#purple {
  border-bottom: 7px solid purple;
}

.mr-b {
  margin-bottom: 10%;
}

#red-b {
  background-color: #e52325;
  border: none;
  color: white;
}

.detalle {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  bottom: 60px;
  padding: 3%;
}

.detalle-gra {
  background: linear-gradient(to bottom, rgba(145, 145, 145, 0.53) 0%, rgba(171, 171, 171, 0.53) 0%, rgba(135, 135, 135, 0.53) 34%, rgba(82, 82, 82, 0.53) 45%, rgba(82, 82, 82, 0.53) 68%, rgba(54, 54, 54, 0.53) 91%, rgba(33, 33, 33, 0.53) 95%, rgba(33, 33, 33, 0.53) 98%, rgba(33, 33, 33, 0) 100%);
}

#color-red {
  color: #e52325;
}
