.top {
  background: #F4F5F7;
  width: 890px;
}

.top img {
  width: 860px;
}

.popu {
  padding: 20px 0;
}

.popu a {
  color: #9D9D9D;
  font-weight: bold;
}

.top button.uno {
  background: #DD4A4A;
  color: #FDF6F6;
  border-radius: 10px;
  font-size: 8px;
}

.top i {
  padding-right: 15px;
}

.top i.fa-facebook {
  color: #2666A2;
}

.top i.fa-twitter {
  color: #4B7DD9;
}

.top i.fa-google-plus {
  color: #CB493B;
}

.top i.fa-envelope-o {
  color: #FFBF00;
}

.top i.fa-rss {
  color: #FF8000;
}

.top button.dos {
  font-weight: bold;
  font-size: 10px;
}

.top i.fa-search {
  margin-top: 5px;
  margin-right: -15px;
}

.republic {
  width: 860px;
  padding-top: 10px;
}

.republica {
  padding: 20px 0;
}

.logo {
  padding-top: 15px;
}

.lideresa {
  padding: 10px;
  border: 2px solid #F4F5F7;
  border-bottom: 2px solid #941010;
  width: 275px;
  height: 70px;
}

.lideresa h6 {
  font-weight: bold;
}

.domingo {
  background-color: #941010;
  color: #FFFFFF;
  width: 65px;
  z-index: 1;
  position: relative;
  margin-left: 90px;
  margin-top: -20px;
  font-weight: bold;
}

.habla h6 {
  margin-top: 55px;
}

.editorial {
  width: 290px;
  border: 2px solid #F4F5F7;
}

.editorial h6 {
  font-size: 15px;
  font-weight: bold;
}

.editorial p {
  font-family: inherit;
}

.editorial img.uno {
  height: 65px;
}

.editorial img.dos {
  margin-top: -65px;
}

.menu {
  padding-top: 5px;
  padding-left: 25px;
  margin-left: -30px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  background-color: #BA1414;
  width: 880px;
}

.menu li {
  border-right: 1px solid #dfdfdf;
}

.menu a {
  color: #FDF6F6;
  font-size: 10px;
}

.temas img {
  width: 170px;
}

.sub-menu {
  margin-left: -30px;
  width: 1000px;
}

.sub-menu ul li a {
  font-size: 11.6px;
  color: #9D9D9D;
}

.contactese h1 {
  padding: 15px;
  font-weight: bold;
}

.tablas {
  padding: 40px 0;
}

.tablas input {
  background-color: #F4F5F7;
  border: 1px solid #9D9D9D;
}

.tablas textarea {
  background-color: #F4F5F7;
  border: 1px solid #9D9D9D;
}

.tablas button {
  background-color: #0F0F0F;
  color: #FDF6F6;
  padding: 5px 40px;
}

.tablas .radio {
  font-size: 12px;
}

.tablas ul li {
  font-size: 12px;
}

.footer {
  background-color: #F4F5F7;
}

.foot .grupo {
  margin-top: 105px;
}

.foot {
  width: 870px;
  padding-top: 20px;
}

.grupo h4 {
  font-weight: bold;
}

.foot ul li a {
  color: #9D9D9D;
  font-size: 10px;
}

.footer-dos {
  font-size: 9.8px;
  color: #9D9D9D;
  padding-top: -15px;
}

.footer-dos li {
  border-right: 1px solid #9D9D9D;
}
