* {
  outline: 1px solid rgba(255, 0, 0, 0.3);
}

.top {
  background: #F4F5F7;
}

.top img {
  width: 1150px;
}

.top a {
  color: #9D9D9D;
  font-weight: bold;
}

.top button {
  background: #DD4A4A;
  color: #FDF6F6;
  border-radius: 10px;
}

.top i {
  width: 35px;
}

.top i.fa-facebook {
  color: #2666A2;
}

.top i.fa-twitter {
  color: #4B7DD9;
}
