doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='../css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='../js/bootstrap.min.js')
    script(type='text/javascript', src='../js/slick.min.js')
    script(type='text/javascript', src='../js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='../js/modernizr.custom.68172.js')
    script(type='text/javascript', src='../js/respond.js')
  body
    .container
      .row
        .col-md-2
        .col-md-8
          .cont-hero
            .hero
              .container-fluid
                .row
                  .col-sm-4
                    .cero
                      p
                        span Blogs
                      .row.na
                        .col-sm-10.lo
                          p LO ÚLTIMO EN BLOGS 
                        .col-sm-2.mg
                          img(src='../image/double-arrow-bottom.png')
          .BLOG
            .container
              .row
                .col-sm-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 El gol de la muerte
                    .row.color
                      .col-md-3.3
                        img.img-thumbnail(src='../image/blog_avatar_01.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p LIBROS
                .col-sm-4.dos
                  .libros
                    div
                    h4 Lunes,14 de julio de 2015
                    h2 Dios ha muerto...tengo las manos cubiertas de sangre
                    .row.cinco.color.siete
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_02.jpg')
                      .col-sm-9.text-left.seis
                        p BLOG
                        p Ya lo pasado,pasado
                .col-md-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 ¿Cuál es tu queso favorito?
                    .row.color
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_03.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p Décimas Cosas
          .BLOG
            .container
              .row
                .col-sm-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 El gol de la muerte
                    .row.color
                      .col-md-3.3
                        img.img-thumbnail(src='../image/blog_avatar_01.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p LIBROS
                .col-sm-4.dos
                  .libros
                    div
                    h4 Lunes,14 de julio de 2015
                    h2 Dios ha muerto...tengo las manos cubiertas de sangre
                    .row.cinco.color.siete
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_02.jpg')
                      .col-sm-9.text-left.seis
                        p BLOG
                        p Ya lo pasado,pasado
                .col-md-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 ¿Cuál es tu queso favorito?
                    .row.color
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_03.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p Décimas Cosas
          .BLOG
            .container
              .row
                .col-sm-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 El gol de la muerte
                    .row.color
                      .col-md-3.3
                        img.img-thumbnail(src='../image/blog_avatar_01.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p LIBROS
                .col-sm-4.dos
                  .libros
                    div
                    h4 Lunes,14 de julio de 2015
                    h2 Dios ha muerto...tengo las manos cubiertas de sangre
                    .row.cinco.color.siete
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_02.jpg')
                      .col-sm-9.text-left.seis
                        p BLOG
                        p Ya lo pasado,pasado
                .col-md-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 ¿Cuál es tu queso favorito?
                    .row.color
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_03.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p Décimas Cosas
          .BLOG
            .container
              .row
                .col-sm-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 El gol de la muerte
                    .row.color
                      .col-md-3.3
                        img.img-thumbnail(src='../image/blog_avatar_01.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p LIBROS
                .col-sm-4.dos
                  .libros
                    div
                    h4 Lunes,14 de julio de 2015
                    h2 Dios ha muerto...tengo las manos cubiertas de sangre
                    .row.cinco.color.siete
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_02.jpg')
                      .col-sm-9.text-left.seis
                        p BLOG
                        p Ya lo pasado,pasado
                .col-md-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 ¿Cuál es tu queso favorito?
                    .row.color
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_03.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p Décimas Cosas
          .BLOG
            .container
              .row
                .col-sm-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 El gol de la muerte
                    .row.color
                      .col-md-3.3
                        img.img-thumbnail(src='../image/blog_avatar_01.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p LIBROS
                .col-sm-4.dos
                  .libros
                    div
                    h4 Lunes,14 de julio de 2015
                    h2 Dios ha muerto...tengo las manos cubiertas de sangre
                    .row.cinco.color.siete
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_02.jpg')
                      .col-sm-9.text-left.seis
                        p BLOG
                        p Ya lo pasado,pasado
                .col-md-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 ¿Cuál es tu queso favorito?
                    .row.color
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_03.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p Décimas Cosas
          .BLOG
            .row
              .col-sm-4.dos
                .libros
                  .blogs
                     h4 Lunes,14 de julio de 2015
                    h2 El gol de la muerte
                  .row.color
                    .col-md-3.3
                       img.img-thumbnail(src='../image/blog_avatar_01.jpg')
                    .col-sm-9.tres.text-left.seis
                      p BLOG
                      p LIBROS
              .col-sm-4.dos
                .libros
                  div
                  h4 Lunes,14 de julio de 2015
                  h2 Dios ha muerto...tengo las manos cubiertas de sangre
                  .row.cinco.color.siete
                    .col-md-3
                      img.img-thumbnail(src='../image/blog_avatar_02.jpg')
                    .col-sm-9.text-left.seis
                        p BLOG
                        p Ya lo pasado,pasado
              .col-md-4.dos
                .libros
                  .blogs
                    h4 Lunes,14 de julio de 2015
                    h2 ¿Cuál es tu queso favorito?
                  .row.color
                    .col-md-3
                      img.img-thumbnail(src='../image/blog_avatar_03.jpg')
                    .col-sm-9.tres.text-left.seis
                      p BLOG
                      p Décimas Cosas
          .BLOG
            .container
              .row
                .col-sm-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 El gol de la muerte
                    .row.color
                      .col-md-3.3
                        img.img-thumbnail(src='../image/blog_avatar_01.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p LIBROS
                .col-sm-4.dos
                  .libros
                    div
                    h4 Lunes,14 de julio de 2015
                    h2 Dios ha muerto...tengo las manos cubiertas de sangre
                    .row.cinco.color.siete
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_02.jpg')
                      .col-sm-9.text-left.seis
                        p BLOG
                        p Ya lo pasado,pasado
                .col-md-4.dos
                  .libros
                    .blogs
                      h4 Lunes,14 de julio de 2015
                      h2 ¿Cuál es tu queso favorito?
                    .row.color
                      .col-md-3
                        img.img-thumbnail(src='../image/blog_avatar_03.jpg')
                      .col-sm-9.tres.text-left.seis
                        p BLOG
                        p Décimas Cosas
        .col-md-2