doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='../css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='js/modernizr.custom.68172.js')
    script(type='text/javascript', src='js/respond.js')
  body
    include header.jade
    #temas                
        .container.temas
            .row
                .col-md-2
                    img(src="../image/img-club.png")                 
                .col-md-8
                    .row.contactese
                        h1.text-center.strong Contáctese con nosotros
                        p Llena este formulario si necesita enviarnos alguna información acerca del contenido del sitio web, su funcionalidad, o si tiene alguna propuesta de información o mejora para el sitio. Así mismo, puede hacer llegar a los redactores su opinión acerca de los contenidos de una determinada sección el cual podrá elegir como destinatario.
                    .row.tablas   
                        .col-md-8.col-md-offset-2                  
                            form
                                .form-group
                                    label.sr-only(for="exampleInputEmail1") Email
                                    input(type="text").form-control#exampleInputEmail1(placeholder="Nombres completos")
                                .form-group
                                    label.sr-only(for="exampleInputPassword1") Web site
                                    input(type="text").form-control#exampleInputPassword1(placeholder="Correo electrónico").form-control
                                .form-group
                                    label.sr-only(for="exampleInputPassword1") Web site
                                    input(type="text").form-control#exampleInputPassword1(placeholder="Teléfonos").form-control
                                    p.small.center (Opcional)
                            h4 Elija un destinatario
                            .row
                                .col-md-12.form-group(style="padding-left:35px; padding-right:10px;")
                                    .radio
                                        input(type="radio", name="optionRadios") 
                                        h5 Sugerencia para el sitio web <span(  class="pull-right")>(Ej: funcionamiento y mejoras para el sitio)
                                    .radio
                                        input(type="radio", name="optionRadio") 
                                        h5 Direccion Periodistica <span( class="pull-right")>(Ej: Sugerencia para la nota de prensa)
                                    .radio
                                        input(type="radio", name="optionRadio")
                                        h5 Direccion Comercial <span( class="pull-right")>(Ej: Publicidad en Diarios o sitios web)  
                                    .radio
                                        input(type="radio", name="optionRadio")
                                        h5 Cartas al director <span( class="pull-right")>(Ej: Denuncias, comentarios e impresiones)
                                    .radio
                                        input(type="radio", name="optionRadio")
                                        h5 Promociones y productos del diario <span( class="pull-right")>(Ej: Promociones, Tablet,etc)    
                                    .radio
                                        input(type="radio", name="optionRadio")
                                        h5 Archivo Periodistico <span( class="pull-right")>(Ej: Ediciones impresas/fotos)
                            form
                                .form-group
                                    textarea.form-control(rows=3)(placeholder="Mensaje")
                                    br
                                    img.img-responsive.center(src="../image/contacto_submit_btn.jpg") 
                .col-md-2
                    img(src="../image/navidad.png")
    include footer.jade
                    