#footer
    .container-fluid.footer
        .container.foot
            .row
                .col-md-4.grupo
                    img(src="../image/logo-grupo-la-republica.png" width="250px")
                    .row
                        h5 Grupo la República Digital
                        p Jr. Camaná 320 Cercado de Lima
                        p Teléfono:711-6000
                        p (Cental Telefónica)
                        p.small Todos los derechos reservados - 2015 
                .col-md-2
                    ul.list-menu.list-unstyled.list-inline
                        li       
                            a(href="") Roger Federer
                        br
                        li       
                            a(href="") SBS
                        li       
                            a(href="") Scarlett Johansson
                        li       
                            a(href="") Scotiabank
                        li       
                            a(href="") Selena Gómez
                        li       
                            a(href="") Spiderman
                        li       
                            a(href="") Sporting Cristal
                        li       
                            a(href="") Sunat
                        li       
                            a(href="") Telefónica del perú
                        li       
                            a(href="") The Walking Dead
                        li       
                            a(href="") Twitter
                        li       
                            a(href="") Universidad César Vallejo
                        li       
                            a(href="") Universidad San Martín
                        li       
                            a(href="") Universidad de Dep.
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") YouTube
                        li       
                            a(href="") Bayern Múnich
                        li       
                            a(href="") Bayern Múnich
                        br
                        li       
                            a(href="") BBVA
                        br
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") BCP
                .col-md-2
                    ul.list-menu.list-unstyled.list-inline
                        li       
                            a(href="") Roger Federer
                        br
                        li       
                            a(href="") SBS
                        li       
                            a(href="") Scarlett Johansson
                        li       
                            a(href="") Scotiabank
                        li       
                            a(href="") Selena Gómez
                        li       
                            a(href="") Spiderman
                        li       
                            a(href="") Sporting Cristal
                        li       
                            a(href="") Sunat
                        li       
                            a(href="") Telefónica del perú
                        li       
                            a(href="") The Walking Dead
                        li       
                            a(href="") Twitter
                        li       
                            a(href="") Universidad César Vallejo
                        li       
                            a(href="") Universidad San Martín
                        li       
                            a(href="") Universidad de Dep.
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") YouTube
                        li       
                            a(href="") Bayern Múnich
                        li       
                            a(href="") Bayern Múnich
                        br
                        li       
                            a(href="") BBVA
                        br
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") BCP
                .col-md-2
                    ul.list-menu.list-unstyled.list-inline
                        li       
                            a(href="") Roger Federer
                        br
                        li       
                            a(href="") SBS
                        li       
                            a(href="") Scarlett Johansson
                        li       
                            a(href="") Scotiabank
                        i       
                            a(href="") Selena Gómez
                        li       
                            a(href="") Spiderman
                        li       
                            a(href="") Sporting Cristal
                        li       
                            a(href="") Sunat
                        li       
                            a(href="") Telefónica del perú
                        li       
                            a(href="") The Walking Dead
                        li       
                            a(href="") Twitter
                        li       
                            a(href="") Universidad César Vallejo
                        li       
                            a(href="") Universidad San Martín
                        i       
                            a(href="") Universidad de Dep.
                        li       
                            a(href="") Xbox
                        br
                        li       
                         a(href="") YouTube
                        li       
                            a(href="") Bayern Múnich
                        li       
                            a(href="") Bayern Múnich
                        br
                        li       
                            a(href="") BBVA
                        br
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") BCP
                .col-md-2
                    ul.list-menu.list-unstyled.list-inline
                        li       
                            a(href="") Roger Federer
                        br
                        li       
                            a(href="") SBS
                        li       
                            a(href="") Scarlett Johansson
                        li       
                            a(href="") Scotiabank
                        li       
                            a(href="") Selena Gómez
                        li       
                            a(href="") Spiderman
                        li       
                            a(href="") Sporting Cristal
                        li       
                            a(href="") Sunat
                        li       
                            a(href="") Telefónica del perú
                        li       
                            a(href="") The Walking Dead
                        li       
                            a(href="") Twitter
                        li       
                            a(href="") Universidad César Vallejo
                        li       
                            a(href="") Universidad San Martín
                        li       
                            a(href="") Universidad de Dep.
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") YouTube
                        li       
                            a(href="") Bayern Múnich
                        li       
                            a(href="") Bayern Múnich
                        br
                        li       
                            a(href="") BBVA
                        br
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") BCP     
            .row.footer-dos
                hr
                .row
                .center
                    ul.list-unstyled.list-inline
                        li Diarios del PAL:Clarín
                        li La tercera
                        li El Universal Colombia
                        li El Universal Venezuela
                        li Vanguardia
                        li La Prensa
                        li El Salvador
                        li La Verdad
                        li Diario Libre
                        li El Diario de hoy
                        li El colombiano
