<<<<<<< HEAD
doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Footer
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='../css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='../js/bootstrap.min.js')
    script(type='text/javascript', src='../js/slick.min.js')
    script(type='text/javascript', src='../js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='../js/modernizr.custom.68172.js')
    script(type='text/javascript', src='../js/respond.js')
  body
    #footer
        .container-fluid.footer
            .container.foot
                .row
                    .col-md-4.grupo
                        img(src="../image/logo-grupo-la-republica.png" width="250px")
                        .row
                            h5 Grupo la República Digital
                            p Jr. Camaná 320 Cercado de Lima
                            p Teléfono:711-6000
                            p (Central Telefónica)
                            p.small Todos los derechos reservados - 2015 
                    .col-md-2
                        ul.list-menu.list-unstyled.list-inline
                            li       
                                a(href="") Roger Federer
                            br
                            li       
                                a(href="") SBS
                            li       
                                a(href="") Scarlett Johansson
                            li       
                                a(href="") Scotiabank
                            li       
                                a(href="") Selena Gómez
                            li       
                                a(href="") Spiderman
                            li       
                                a(href="") Sporting Cristal
                            li       
                                a(href="") Sunat
                            li       
                                a(href="") Telefónica del perú
                            li       
                                a(href="") The Walking Dead
                            li       
                                a(href="") Twitter
                            li       
                                a(href="") Universidad César Vallejo
                            li       
                                a(href="") Universidad San Martín
                            li       
                                a(href="") Universidad de Dep.
                            li       
                                a(href="") Xbox
                            br
                            li       
                                a(href="") YouTube
                            li       
                                a(href="") Bayern Múnich
                            li       
                                a(href="") Bayern Múnich
                            br
                            li       
                                a(href="") BBVA
                            br
                            li       
                                a(href="") Xbox
                            br
                            li       
                                a(href="") BCP
                    .col-md-2
                        ul.list-menu.list-unstyled.list-inline
                            li       
                                a(href="") Roger Federer
                            br
                            li       
                                a(href="") SBS
                            li       
                                a(href="") Scarlett Johansson
                            li       
                                a(href="") Scotiabank
                            li       
                                a(href="") Selena Gómez
                            li       
                                a(href="") Spiderman
                            li       
                                a(href="") Sporting Cristal
                            li       
                                a(href="") Sunat
                            li       
                                a(href="") Telefónica del perú
                            li       
                                a(href="") The Walking Dead
                            li       
                                a(href="") Twitter
                            li       
                                a(href="") Universidad César Vallejo
                            li       
                                a(href="") Universidad San Martín
                            li       
                                a(href="") Universidad de Dep.
                            li       
                                a(href="") Xbox
                            br
                            li       
                                a(href="") YouTube
                            li       
                                a(href="") Bayern Múnich
                            li       
                                a(href="") Bayern Múnich
                            br
                            li       
                                a(href="") BBVA
                            br
                            li       
                                a(href="") Xbox
                            br
                            li       
                                a(href="") BCP
                    .col-md-2
                        ul.list-menu.list-unstyled.list-inline
                            li       
                                a(href="") Roger Federer
                            br
                            li       
                                a(href="") SBS
                            li       
                                a(href="") Scarlett Johansson
                            li       
                                a(href="") Scotiabank
                            li       
                                a(href="") Selena Gómez
                            li       
                                a(href="") Spiderman
                            li       
                                a(href="") Sporting Cristal
                            li       
                                a(href="") Sunat
                            li       
                                a(href="") Telefónica del perú
                            li       
                                a(href="") The Walking Dead
                            li       
                                a(href="") Twitter
                            li       
                                a(href="") Universidad César Vallejo
                            li       
                                a(href="") Universidad San Martín
                            li       
                                a(href="") Universidad de Dep.
                            li       
                                a(href="") Xbox
                            br
                            li       
                                a(href="") YouTube
                            li       
                                a(href="") Bayern Múnich
                            li       
                                a(href="") Bayern Múnich
                            br
                            li       
                                a(href="") BBVA
                            br
                            li       
                                a(href="") Xbox
                            br
                            li       
                                a(href="") BCP
                    .col-md-2
                        ul.list-menu.list-unstyled.list-inline
                            li       
                                a(href="") Roger Federer
                            br
                            li       
                                a(href="") SBS
                            li       
                                a(href="") Scarlett Johansson
                            li       
                                a(href="") Scotiabank
                            li       
                                a(href="") Selena Gómez
                            li       
                                a(href="") Spiderman
                            li       
                                a(href="") Sporting Cristal
                            li       
                                a(href="") Sunat
                            li       
                                a(href="") Telefónica del perú
                            li       
                                a(href="") The Walking Dead
                            li       
                                a(href="") Twitter
                            li       
                                a(href="") Universidad César Vallejo
                            li       
                                a(href="") Universidad San Martín
                            li       
                                a(href="") Universidad de Dep.
                            li       
                                a(href="") Xbox
                            br
                            li       
                                a(href="") YouTube
                            li       
                                a(href="") Bayern Múnich
                            li       
                                a(href="") Bayern Múnich
                            br
                            li       
                                a(href="") BBVA
                            br
                            li       
                                a(href="") Xbox
                            br
                            li       
                                a(href="") BCP     
                .row.footer-dos
                    hr
=======
//-Al poner include con todos los links en el home o en cualquier página donde se ponga include, se copiaran todos los links y entonces no jalará bien los estilos, por eso borre todo los links y dejé solo el código a incluir.
#footer
    .container-fluid.footer
        .container.foot
            .row
                .col-md-4.grupo
                    img(src="../image/logo-grupo-la-republica.png" width="250px")
>>>>>>> 475a9c8fc5302dbac1259760186bb1f44cab4008
                    .row
                        h5 Grupo la República Digital
                        p Jr. Camaná 320 Cercado de Lima
                        p Teléfono:711-6000
                        p (Cental Telefónica)
                        p.small Todos los derechos reservados - 2015 
                .col-md-2
                    ul.list-menu.list-unstyled.list-inline
                        li       
                            a(href="") Roger Federer
                        br
                        li       
                            a(href="") SBS
                        li       
                            a(href="") Scarlett Johansson
                        li       
                            a(href="") Scotiabank
                        li       
                            a(href="") Selena Gómez
                        li       
                            a(href="") Spiderman
                        li       
                            a(href="") Sporting Cristal
                        li       
                            a(href="") Sunat
                        li       
                            a(href="") Telefónica del perú
                        li       
                            a(href="") The Walking Dead
                        li       
                            a(href="") Twitter
                        li       
                            a(href="") Universidad César Vallejo
                        li       
                            a(href="") Universidad San Martín
                        li       
                            a(href="") Universidad de Dep.
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") YouTube
                        li       
                            a(href="") Bayern Múnich
                        li       
                            a(href="") Bayern Múnich
                        br
                        li       
                            a(href="") BBVA
                        br
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") BCP
                .col-md-2
                    ul.list-menu.list-unstyled.list-inline
                        li       
                            a(href="") Roger Federer
                        br
                        li       
                            a(href="") SBS
                        li       
                            a(href="") Scarlett Johansson
                        li       
                            a(href="") Scotiabank
                        li       
                            a(href="") Selena Gómez
                        li       
                            a(href="") Spiderman
                        li       
                            a(href="") Sporting Cristal
                        li       
                            a(href="") Sunat
                        li       
                            a(href="") Telefónica del perú
                        li       
                            a(href="") The Walking Dead
                        li       
                            a(href="") Twitter
                        li       
                            a(href="") Universidad César Vallejo
                        li       
                            a(href="") Universidad San Martín
                        li       
                            a(href="") Universidad de Dep.
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") YouTube
                        li       
                            a(href="") Bayern Múnich
                        li       
                            a(href="") Bayern Múnich
                        br
                        li       
                            a(href="") BBVA
                        br
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") BCP
                .col-md-2
                    ul.list-menu.list-unstyled.list-inline
                        li       
                            a(href="") Roger Federer
                        br
                        li       
                            a(href="") SBS
                        li       
                            a(href="") Scarlett Johansson
                        li       
                            a(href="") Scotiabank
                        li       
                            a(href="") Selena Gómez
                        li       
                            a(href="") Spiderman
                        li       
                            a(href="") Sporting Cristal
                        li       
                            a(href="") Sunat
                        li       
                            a(href="") Telefónica del perú
                        li       
                            a(href="") The Walking Dead
                        li       
                            a(href="") Twitter
                        li       
                            a(href="") Universidad César Vallejo
                        li       
                            a(href="") Universidad San Martín
                        li       
                            a(href="") Universidad de Dep.
                        li       
                            a(href="") Xbox
                        br
                        li       
                         a(href="") YouTube
                        li       
                            a(href="") Bayern Múnich
                        li       
                            a(href="") Bayern Múnich
                        br
                        li       
                            a(href="") BBVA
                        br
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") BCP
                .col-md-2
                    ul.list-menu.list-unstyled.list-inline
                        li       
                            a(href="") Roger Federer
                        br
                        li       
                            a(href="") SBS
                        li       
                            a(href="") Scarlett Johansson
                        li       
                            a(href="") Scotiabank
                        li       
                            a(href="") Selena Gómez
                        li       
                            a(href="") Spiderman
                        li       
                            a(href="") Sporting Cristal
                        li       
                            a(href="") Sunat
                        li       
                            a(href="") Telefónica del perú
                        li       
                            a(href="") The Walking Dead
                        li       
                            a(href="") Twitter
                        li       
                            a(href="") Universidad César Vallejo
                        li       
                            a(href="") Universidad San Martín
                        li       
                            a(href="") Universidad de Dep.
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") YouTube
                        li       
                            a(href="") Bayern Múnich
                        li       
                            a(href="") Bayern Múnich
                        br
                        li       
                            a(href="") BBVA
                        br
                        li       
                            a(href="") Xbox
                        br
                        li       
                            a(href="") BCP     
            .row.footer-dos
                hr
                .row
                .center
                    ul.list-unstyled.list-inline
                        li Diarios del PAL:Clarín
                        li La tercera
                        li El Universal Colombia
                        li El Universal Venezuela
                        li Vanguardia
                        li La Prensa
                        li El Salvador
                        li La Verdad
                        li Diario Libre
                        li El Diario de hoy
                        li El colombiano
