<<<<<<< HEAD
doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Header
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='../css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='../js/bootstrap.min.js')
    script(type='text/javascript', src='../js/slick.min.js')
    script(type='text/javascript', src='../js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='../js/modernizr.custom.68172.js')
    script(type='text/javascript', src='../js/respond.js')
  body
    #header-section
        .container.top
            img(src="../image/banner_top.jpg")
            .row.popu
                .col-md-7
                    ul.list-menu.list-unstyled.list-inline
                        li
                            a.small(href="") LIBERO.PE
                        li
                            a.small(href="") EL POPULAR.PE
                        li
                            a.small(href="") FUNDACIÓN GUSTAVO MOHME LLONA
                .col-md-5.buscar                    
                    button.uno.btn.btn-default.small SUSCRÍBETE AL BOLETIN
                    i.fa.fa-facebook
                    i.fa.fa-twitter
                    i.fa.fa-google-plus
                    i.fa.fa-envelope-o
                    i.fa.fa-rss
                    button.dos BUSCAR
                    i.fa.fa-search.pull-right
    #header-section2
        .container.republic
            .row.republica
                .col-md-4
=======
//-Al poner include con todos los links en el home o en cualquier página donde se ponga include, se copiaran todos los links y entonces no jalará bien los estilos, por eso borre todo los links y dejé solo el código a incluir.
#header-section
    .container.top
        img(src="../image/banner_top.jpg")
        .row.popu
            .col-md-7
                ul.list-menu.list-unstyled.list-inline
                    li
                         a.small(href="") LIBERO.PE
                    li
                        a.small(href="") EL POPULAR.PE
                    li
                        a.small(href="") FUNDACIÓN GUSTAVO MOHME LLONA
            col-md-5.buscar                    
                button.uno.btn.btn-default.small SUSCRÍBETE AL BOLETIN
                i.fa.fa-facebook
                i.fa.fa-twitter
                i.fa.fa-google-plus
                i.fa.fa-envelope-o
                i.fa.fa-rss
                button.dos BUSCAR
                i.fa.fa-search.pull-right
#header-section2
    .container.republic
        .row.republica
            .col-md-4
>>>>>>> 475a9c8fc5302dbac1259760186bb1f44cab4008
                    img.logo(src="../image/logo-la-republica.jpg")
            .col-md-4.lideresa
                h6.text-center.domingo DOMINGO
                h6.habla HABLA LA LIDERESA DEL NACIONALISMO
            .col-md-4
                .editorial
                    img.uno(src="../image/img_editorial_text.jpg").pull-left
                    h6 La corrupción, los orígenes
                    p por: Gustavo Mohme LLona
                    img.dos(src="../image/img_author.jpg").pull-right
        .row.menu
            ul.list-menu.list-unstyle.list-inline
                li       
                    a(href="") POLÍTICA
                li       
                    a(href="") ECONOMÍA
                li       
                    a(href="") SOCIEDAD
                li       
                    a(href="") ELECC. REGIONALES
                li       
                    a(href="") DEPORTES
                li       
                    a(href="") CHAMPIONS L.
                li       
                    a(href="") ESPECTÁCULOS
                li       
                    a(href="") ED. IMPRESA
                li       
                    a(href="") REGIONALES
                li.dopdrown       
                    a(href="").dopdrown-toggle MÁS SECCIONES
                    span.caret 
#temas                
    .container.temas
        .row
            .col-md-2
                    //- img(src="../image/img-club.png")
            .col-md-8
                .sub-menu
                    nav
                        ul.pagination.pagination-sm
                            li.primero 
                                a(href="") TEMAS DEL DÍA
                            li 
                                aria-label(Previous)
                                span &laquo;
                            li 
                                a(href="") Globos de Oro
                            li       
                                a(href="") Youtube
                            li       
                                a(href="") PNP
                            li       
                                a(href="") Charlie Hebdo
                            li       
                                a(href="") FC Barcelona
                            li       
                                a(href="") Alianza Lima
                            li       
                                a(href="") Balón de Oro
                            li       
                                a(href="") Alianza Lima
                            li       
                                a(href="") Balón
                            li
                                aria-label(Next)
                                span &raquo;
                img.img-responsive(src="../image/banner-header.jpg")            
            .col-md-2
                    //- img(src="../image/navidad.png")

    



                    





                                
            
