include ci/mixin.jade
doctype html
html(lang='es-PE')
    head
        meta(charset='UTF-8')
        title Home
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='../css/dist/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='../css/dist/bootstrap.min.css')
        link(rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel='stylesheet', type='text/css', href='../css/dist/slick.css')
        link(rel='stylesheet', type='text/css', href='../css/dist/slick-theme.css')
        link(rel='stylesheet', type='text/css', href='../css/main.css')
        link(rel='stylesheet', type='text/css', href='../css/home.css')
        script(src='http://code.jquery.com/jquery-1.11.2.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(type='text/javascript', src='../js/bootstrap.min.js')
        script(type='text/javascript', src='../js/slick.min.js')
        script(type='text/javascript', src='../js/bootstrap-hover-dropdown.min.js')
        script(type='text/javascript', src='../js/modernizr.custom.68172.js')
        script(type='text/javascript', src='../js/respond.js')
  body
    .header
        .container
            include header.jade
    .home
        .container
            .row
                .col-md-2
                    img(src="../image/img-club.png")
                .col-md-8
                    h1.text-center GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
                    ul.text-center.list-unstyled.list-inline
                        li
                            img.inline.img-responsive(src="../image/icon/face.png")
                            img.inline.img-responsive(src="../image/icon/twitter.png")
                            img.inline.img-responsive(src="../image/icon/google.png")
                        span.ion-record
                        li Hace 12 minutos
                        span.ion-record
                        li POLÍTICA
                    .row
                        .col-md-6.jne
                            h3.ml-2 JNE impulsará campaña en favor de la aprobación de la reforma electoral
                        .col-md-6
                            ul.list-unstyled
                                li.mb-3
                                    .detalle-gra
                                        img.relative.img-responsive(src="../image/img_grid_secundario.jpg")
                                        h4.pull-bottom.ml-2 Martin Belaunde Lossio: Empresas vinculadas al empresario contrataron por S/. 3 000 millones.
                                  
                                li
                                    .detalle-gra
                                        img.relative.img-responsive(src="../image/img_grid_secundario.jpg")
                                        h4.ml-2 Sub-20: Perú vs. Paraguay: bicolor empató 1-1 y pasó al hexagonal final de Sudamericano | VIDEO
                    .columnistas.text-center
                        h3.ib.box-red.text-center COLUMNISTAS
                        .row
                            .col-md-6.columnistas-list
                                .row
                                    +columnistas-list("../image/img-columnistas.jpg","Mario Vargas Llosa", "Megarrenuncia apulpinante")
                                    +columnistas-list("../image/img_blogueros.jpg","Augusto Alvarez Rodrich", "Megarrenuncia apulpinante")
                                    +columnistas-list("../image/img-columnistas.jpg","Mario Vargas Llosa", "Megarrenuncia apulpinante")
                            .col-md-6.columnistas-list
                                .row
                                    +columnistas-list("../image/img_blogueros.jpg","Augusto Alvarez Rodrich", "Megarrenuncia apulpinante")
                                    +columnistas-list("../image/img-columnistas.jpg","Mario Vargas Llosa", "Megarrenuncia apulpinante")
                                    +columnistas-list("../image/img_blogueros.jpg","Augusto Alvarez Rodrich", "Megarrenuncia apulpinante")
                    .noticias
                        .row
                            .col-md-8
                                .row
                                    .col-md-6
                                        +noticias-peru("Mercado de Pases 2015","../image/img_especiales.jpg","Mercado de Pases 2015:altas, bajas y rumores de los equipos peruano","Todo sobre Mercado de Pases 2015")
                                        +noticias-peru("Champions League","../image/img_especiales.jpg","¿Podrá el Real Madrid conseguir la 'Undécima'?","Todo sobre Champions League")
                                    .col-md-6
                                        +noticias-peru("Régimen Laboral Juvenil","../image/img_especiales_aside.jpg","Ollanta Humala:Los que han perdido más allá de tambores y panderetas, son 2 millones de jóvenes|VIDEO","Todo sobre Régimen Laboral Juvenil")
                                        +noticias-peru("Súper Bowl","../image/img_especiales.jpg","Súper Bowl XLIX:New Englands Patriot se consagró campeón la NFL al ganar 28-24 a Seahawks|VIDEO","Todo sobre Súper Bowl")
                                h3 ÚLTIMAS NOTICIAS
                                .ultimas-noticias
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")
                                    +ultimas-noticias-Emma("Hace 1 hora, 12 mins","Emma Watson protagonizará 'La Bella y la Bestia'|VIDEO","../image/img_news.jpg","La actriz Emma Watson fue confirmada por Disney como la protagonista de la 'Bella y la Bestia' en la versión de carne y hueso","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Conga("Hace 1 hora, 12 mins","Roque Benavides respalda proyecto Tía María y espera que Conga se socialice","../image/img_news1.jpg","Zenaida Condori Contreras para el Presidente de la Compañía de Minas Buenaventura, Roque Benavides el pryecto Tía María, que promueve Southern Perú, ya debe ...","../image/icon/icon-3.png","../image/ico_comment.png","AREQUIPA")
                                    +ultimas-noticias-Perro("Hace 1 hora, 12 mins","Youtube:Hombre finge ahogarse y su perro lo rescata|FOTOS","../image/img_news2.jpg","La lealtad de los animales hacia sus dueños es sorprendente y se mantiene firme bajo cualquier circunstancia.","../image/icon/icon-3.png","../image/ico_comment.png","ESPECTÁCULOS","../image/ico_comment.png")
                                    +ultimas-noticias-Real-madrid("Hace 1 hora, 12 mins","Real Madrid:Cristiano Ronaldo fue sancionado con dos partidos y sí estará contra el Atlético de Madrid","../image/img_news3.jpg","Después de la pésima actitud de Cristiano Ronaldo, al agredir a Edimar en el partido del cuadro madridista contra el Córdoba, el Comité de Competición ha llegado a la..","../image/icon/icon-3.png","../image/ico_comment.png","DEPORTES","../image/ico_comment.png")

                            .col-md-4
                                img.img-responsive(src="../image/banner-aside-home.jpg")
                                .block-encuesta.text-center
                                    .pregunta
                                        img(src="../image/img_sucribe.png")
                                        +suscribete("Suscríbete a Nuestro Boletín","...@hotmail.com","SUSCRIBIRSE")
                                .border#purple
                                    .aweita-section
                                        .aweita.text-center
                                            img.mr-b(src="../image/logo_aweita.jpg")
                                        .aweita-not
                                            +aweita-noticias("../image/img_aweita.jpg","Juan Román Riquelme, el adiós al 'Último 10' de Argentina")
                                            +aweita-noticias("../image/img_aweita2.jpg","Lewis Carroll:un día como hoy nació el autor de Alicia...")
                                            +aweita-noticias("../image/img_aweita.jpg","Juan Román Riquelme, el adiós al 'Último 10' de Argentina")
                                            +aweita-noticias("../image/img_aweita2.jpg","Gameplay de 'Dead Kings',descargable de 'Assasin's")
                                        .aweita.text-center
                                            h5#color-red.text-center Más en AWEITA.COM
                                .separadores
                                    img.img-responsive.text-center(src="../image/img_sep1.png")
                                    img.img-responsive(src="../image/img_fotodes_prominent.jpg")
                                    h4.color-blue Lineas de Nazca: admiten prisión preventiva de 6 meses para activista de GreenDay.
                                    +aweita-noticias("../image/img_fotodes.jpg","Uchuraccay:El pueblo que recibe con flores a quienes llegan a pie|FOTOS")
                                    +aweita-noticias("../image/img_fotodes.jpg","Uchuraccay:El pueblo que recibe con flores a quienes llegan a pie|FOTOS")
                                    +aweita-noticias("../image/img_fotodes.jpg","Uchuraccay:El pueblo que recibe con flores a quienes llegan a pie|FOTOS")
                                .separadores
                                    img.img-responsive.text-center(src="../image/img_sep2.png")
                                    +especiales("../image/img_especiales_aside.jpg", "Régimen Laboral Juvenil")
                                    +especiales("../image/img_especiales_aside.jpg", "COP 20")
                                    +especiales("../image/img_especiales_aside.jpg", "Concentración de Medios")
                                    +especiales("../image/img_especiales_aside.jpg", "Especies Peruanas en Peligro de Extinción")
                                .separadores
                                    img.img-responsive.text-center(src="../image/img_sep3.png")
                                    +carlincatura("Carlincaturas 30-01-2015","../image/img_carlincatura_sd.jpg","Todas las Carlincaturas")
                                .separadores
                                    img.img-responsive.text-center(src="../image/img_sep4.png")
                                    +blogueros("../image/img_blogueros.jpg","Augusto Alvarez Rodrich","Charlie Hebdo, historia que no debe repetirse")
                                    +blogueros("../image/img_blogueros.jpg","Augusto Alvarez Rodrich","El único pulpin es Humala")
                                    +blogueros("../image/img_blogueros.jpg","Augusto Alvarez Rodrich","Charlie Hebdo, historia que no debe repetirse")
                                    +blogueros("../image/img_blogueros.jpg","Augusto Alvarez Rodrich","El único pulpin es Humala")
                                    +blogueros("../image/img_blogueros.jpg","Augusto Alvarez Rodrich","Charlie Hebdo, historia que no debe repetirse")
                                    +blogueros("../image/img_blogueros.jpg","Augusto Alvarez Rodrich","El único pulpin es Humala")
                                    +blogueros("../image/img_blogueros.jpg","Augusto Alvarez Rodrich","Charlie Hebdo, historia que no debe repetirse")
                                    +blogueros("../image/img_blogueros.jpg","Augusto Alvarez Rodrich","El único pulpin es Humala")
                                    h5#color-red.text-center Todos los Blogs
                                .separadores
                                    img.img-responsive.text-center(src="../image/img_sep5.png")
                                    +edicion1("La República-Lima","../image/portada.jpg")
                                    +edicion2("../image/img_impreso_sd.jpg","Extorsionan a menores en colegio","La República-Norte")
                                    +edicion2("../image/img_impreso_sd_politica_01.jpg","Lluvias en Arequipa inundan casas","La República-Sur")
                                    +edicion2("../image/img_impreso_sd_politica_02.jpg","El ojo de Oblutas","Domingo")
                                .separadores
                                    img.img-responsive.text-center(src="../image/img_sep6.png")
                                    +especiales("../image/img_especiales_aside.jpg", "Histórico cierre de fronteras")
                                    +especiales("../image/img_especiales_aside.jpg", "Evolución de la pobreza e indigencia en América Latina")
                                .block-encuesta.text-center
                                    .pregunta#hoy
                                        img(src="../image/img_pregunta.png")
                                        +pregunta("La pregunta de hoy","¿Cree usted que la premier Ana Jara deba renunciar?","sí","no","VOTAR","Ver Resultados")
                                    .pregunta
                                        +pregunta("La pregunta de ayer","¿Cree usted que se militarizó la conmemoración del fallo de la Haya en Lima?","___55%___","__22%__","Ver Resultados")
                                .border#red
                                    .libero-section
                                        .libero.text-center
                                            img.mr-b(src="../image/logo_libero.jpg")
                                        .libero-not
                                            +libero-noticias("../image/thumb-post-image.jpg","Florentina empató 1-1 con su visita al Genoa|VIDEO")
                                            +libero-noticias("../image/thumb-post-image.jpg","Florentina empató 1-1 con su visita al Genoa|VIDEO")
                                            +libero-noticias("../image/thumb-post-image.jpg","Florentina empató 1-1 con su visita al Genoa|VIDEO")
                                            +libero-noticias("../image/thumb-post-image.jpg","Florentina empató 1-1 con su visita al Genoa|VIDEO")
                                        .libero.text-center
                                            h5#color-red.text-center Más en Libero.pe
                                .border#yellow
                                    .popular-section
                                        .popular.text-center
                                            img.mr-b(src="../image/logo_popular.jpg")
                                        .popular-not
                                            +popular-noticias("../image/img_popular.png","Jhosua Ivanoff está loco por olor de Melissa Loza|VIDEO")
                                            +popular-noticias("../image/img_popular.png","Jhosua Ivanoff está loco por olor de Melissa Loza|VIDEO")
                                            +popular-noticias("../image/img_popular.png","Jhosua Ivanoff está loco por olor de Melissa Loza|VIDEO")
                                            +popular-noticias("../image/img_popular.png","Jhosua Ivanoff está loco por olor de Melissa Loza|VIDEO")
                                        .popular.text-center
                                            h5#color-red.text-center Más en elPopular.pe
                                .border#red
                                    .wapa-section
                                        .wapa.text-center
                                            img.mr-b(src="../image/logo_wapa.jpg")
                                        .wapa-not
                                            +wapa-noticias("../image/img_wapa.png","¿Cómo renovar el guardarropa de los pequeños?")
                                            +wapa-noticias("../image/img_wapa.png","¿Cómo renovar el guardarropa de los pequeños?")
                                            +wapa-noticias("../image/img_wapa.png","¿Cómo renovar el guardarropa de los pequeños?")
                                            +wapa-noticias("../image/img_wapa.png","¿Cómo renovar el guardarropa de los pequeños?")
                                        .wapa.text-center
                                            h5#color-red.text-center Más en Wapa.pe
                                .block-encuesta.text-center
                                    .pregunta#hoy
                                        img(src="../image/img_reporteroc.png")
                                        +reporte("Reporte Ciudadano","../image/img_sd_reporteroc.jpg","Estacionamiento Indebido","¿Está permitido que dejen sus autos reiteradas veces todas las noches en su casa?","ENVIAR FOTOS","Más Fotos")
                .col-md-2
                    img(src="../image/navidad.png")
    .footer
        include footer.jade